body {
    background-image : url("background.jpg");
    text-align: center;
}

h1 {
    text-align:center;
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    font-weight: 100;
    color:rgb(0, 3, 34);
    margin-top: 20px;
}

.simple-btn {
    color : black;
    background-color: rgb(255, 198, 93);
    border-radius: 25px;
    border-style: solid;
    outline:none;
    border-color: rgb(255, 198, 93);
    margin-top: 20px;
    transition: background-color 0.5s,border-color 0.5s;
}

.simple-btn:hover {
    background-color:  rgb(255, 222, 161);
    border-color: rgb(255, 222, 161);
}

.userinput {
    display: block;
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Concert One', cursive;
    border-radius: 25px;
    border-color: rgb(255, 239, 148);
    background-color:rgb(255, 239, 148);
    border-style: solid;
    height: 45px;
    width: 125px;
    text-align: center;
    transition: width 1s, background-color 0.5s,border-color 0.5s;
    outline:none;
}

.userinput:focus {
    background-color: rgb(255, 249, 218);
    border-color: rgb(255, 249, 218);
    width: 300px;
}

.box {
    display: inline-block;
    text-align: center;
}

.todo {
    color: black;
    font-family: 'Concert One', cursive;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: rgb(255, 213, 238);;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
    background-color: rgb(255, 213, 238);
    text-align: center;
}



.todo:default {
    background-color: transparent;
}

.listdivision {
    text-align: center;
    display: inline-block;
}

.listblock {
    display: block;
}

.deletebtn {
    background-color: transparent;
    margin-left: 10px;
    border-radius: 30px;
    color: red;
    outline:none;
    border-style: solid;
    border-color: red;
    transition: background-color 0.5s,color 0.5s;
}

.deletebtn:hover{
    background-color: red;
    color: white;
}
